body {
    background: #1E9858;
}

.container {
    background: #1E9858;
}

.forgot-link {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    color: #699BF7;
}