body{
    background: #1E9858;
}

.container{
    background: #1E9858;
}
.name-field {
    margin-bottom: 20px;
}
  
.username-field {
    margin-bottom: 20px;
}
  
.password-field {
    margin-bottom: 20px;
}
  
.confirm-password-field {
    margin-bottom: 20px;
}
  
.join-link-container {
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

  
.join-link-container {
    margin-top: 30px;
}